.page{
    max-width: 800px;
    margin: 0 auto
}
body{
    background-color:antiquewhite;    
    
}
#Introduction{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: medium;
    align-items: center;
}
#intro-actions{
    display: flex;
    align-items: center;
    gap: 20px;
    

}
.pfp {
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 50%;    

}

h2{
    text-align: left;
}

.Email{
    position: relative;
    cursor: pointer;

}
.copied{
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(33, 32, 32, 0.884);
    color: rgb(255, 255, 255);
    padding: 6px 10px;
    border-radius: 6px;
    font: 12px;
    font-size: 0.85rem;
    opacity: 0;
    transition: opacity 0.2s ease;

}
.Resume{
    display: inline-flex;
    align-items: center;
    gap: 5px;

    padding: 5px 15px;
    border: 1px solid #000;
    border-radius: 8px;

    text-decoration: none;
    color: #000;
    background: transparent;
    font-weight: 800;
    cursor: pointer;
    

}
.social {
  transition: transform 0.15s ease;
}


.social:hover {
    transform: scale(1.2);
}

.linkedin{
    display: inline-flex;
    text-decoration: none;
    color: #000;
    background: transparent;
    font-weight: 800;
    cursor: pointer;

}
.GitHub{
    display: inline-flex;
    text-decoration: none;
    color: #000;
    background: transparent;
    font-weight: 800;
    cursor: pointer;
}

.DocFlow{
    width: 200px;
    height: 200px;
    text-align: center;
}
footer{
    text-align: center;
}

#Experience{
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 60px;
    border: 1px solid #000;
    border-radius: 8px;
    position: relative;
} 

#Experience::before{
    content: "";
    position: relative;
    
    left: 100px;
    top: 55px;
    bottom: 55px;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.15);
}


.cibc{
    width: 48px;
    height: 48px;
    padding: 8px;
    background-color: rgba(0,0,0,0.04);
    margin-top: 2px;
}
.Experience-content{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.Experience-Row{
    display: flex;
    align-items: flex-start;
    gap: 32px;
    position: relative;
}
.Experience-date{
    font-size: 13px;
    color: #777;
    
}

#Experience ul{
    margin-top: 4px;
    padding-left: 20px;
}

#Experience li{
    line-height: 1.5;
    margin-bottom: 6px;
}

.Experience-date,
.Experience-title {
    margin: 0;
}
.Experience-title{
    margin-bottom: 2px;
}